<h1>Editing User</h1>
<% user = User.find(session["warden.user.user.key"][0][0]) %>
<% a = Ability.new(user) %>
<% if a.can? :manage, @user%>
	<%= render 'form', user: @user %>

	<%= link_to 'Show', @user %> |
	
<% end %>
<%= link_to 'Back', users_path %>
